# Puerto donde se ejecutará Express
PORT=3000

# Reemplaza usuario, contraseña y nombre de base de datos por los de MongoDB Atlas
MONGO_URI=mongodb+srv://usuario:contrasena@cluster0.ejemplo.mongodb.net/videojuegos?retryWrites=true&w=majority
